//Author: Daniel Emidio
//Github: https://github.com/DanielEmidio1988

// Default Input
input:not(input[type="submit"]),
select{
    width: 100%;
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px solid $gray-color-strong;   
    background-color: $white-color;
    color: $dark-color;
    font-size: $font-size-span;
    position: relative;
}

input:not(input[type="submit"], :disabled){
    background-color: $gray-color;
}

input:disabled, input[readonly]{
    background-color: $gray-color-medium;
}

.input-value-money,
.input-value-percentage{
    padding: 6px 12px 6px 20px;
    position: relative;
}