@use "./variables" as *;

//Author: Daniel Emidio
//Github: https://github.com/DanielEmidio1988

input:not(input[type="submit"], :disabled){
    background-color: $gray-color;
}

input:disabled, input[readonly]{
    background-color: $gray-color-medium;
}

.input-value-money,
.input-value-percentage{
    padding: 6px 12px 6px 20px;
    position: relative;
}