@import "./variables";

.pageadmin{
    
    .sectionarea_admin{
        min-height: 100vh;
        display: flex;
        justify-content: flex-end;
        background-color: $gray-color-medium;

        .infopage{
            display: flex;
            justify-content: space-between;

            .titlearea{
                cursor: default;
                .title{
                    font-weight: 700;
                }

                .counter{
                    font-size: $detail-font-size;
                }

            }

        }

        .dataarea{
            width: calc(100% - 200px);
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 0 16px;
        }
    }
}