@import "../../../../../../assets/scss/styled.scss";

.cardSummary{
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2vw;
    border-radius: 12px;
    background-color: $white-color;
    box-shadow: 4px 4px 4px $gray-color-medium;
    position: relative;
    cursor: pointer;

    .cardSummary___value{
        font-weight: 700;
    }

    .cardSummary___description{
        text-transform: uppercase;
        color: $gray-color-strong;
        font-weight: 500;
    }

    .cardSummary___status{
        font-size: $font-size-span;
    }

    svg{
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
    
}